{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1>Welcome to Tile Warehouse</h1>
  <ul>
    <li><a href="{% url 'warehouse:warehouse_list' %}">Manage Warehouses</a></li>
    <li><a href="{% url 'floor:floor_list' %}">Manage Floors</a></li>
    <li><a href="{% url 'tower:tower_list' %}">Manage Towers</a></li>
    <li><a href="{% url 'tiles:shipment_list' %}">Tiles Type</a></li>
    <li><a href="{% url 'tiles:shipment_list' %}">Tiles Shipment</a></li>
    <li><a href="{% url 'tiles:stock_list' %}">Tiles Location</a></li>
    {% comment %} <li><a href="{% url 'customers:customer_list' %}">Manage Customers</a></li>
    <li><a href="{% url 'orders:tile_list' %}">Manage Tiles</a></li> {% endcomment %}

  </ul>
{% endblock %}
